@font-face {
  font-family: 'BebasNeueLight';
  src: url('BebasNeueLight.eot?#iefix') format('embedded-opentype'), 
	   url('BebasNeueLight.otf')  format('opentype'),
	   url('BebasNeueLight.woff') format('woff'),
	   url('BebasNeueLight.ttf')  format('truetype'),
	   url('BebasNeueLight.svg#BebasNeueLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBook';
  src: url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
	   url('BebasNeueBook.otf')  format('opentype'),
	   url('BebasNeueBook.woff') format('woff'),
	   url('BebasNeueBook.ttf')  format('truetype'),
	   url('BebasNeueBook.svg#BebasNeueBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'), 
	   url('BebasNeueRegular.otf')  format('opentype'),
	   url('BebasNeueRegular.woff') format('woff'),
	   url('BebasNeueRegular.ttf')  format('truetype'),
	   url('BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BebasNeueBold';
  src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
	   url('BebasNeueBold.otf')  format('opentype'),
	   url('BebasNeueBold.woff') format('woff'),
	   url('BebasNeueBold.ttf')  format('truetype'),
	   url('BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
    background-color: #363636;
    font-family: 'BebasNeueBook';
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:0px;
}

.Title {
    font-family: 'BebasNeueBook';
    font-size: 77px;
	position:absolute;
    top:20%;
    left:41%;
	color: white;
    z-index:2;
}

.caption {
    font-family:'BebasNeueBook';
    font-size: 40px;
	position:absolute;
    top:30%;
    left:39%;
	color: white;
    z-index:2;
}

.Icon img{
    padding:1px;
    border-radius: 100%;
    border:2px solid #FFF;
    background-color:#FFF;
}

#particles-js {
	margin-bottom: -200px;
}

#part2 {
	background-image: url(../images/aboutme.jpg);
	height: 1080px;
	width: 100%;
}

#aboutme {
	position: relative;
	color : white;
	left: 0;
    bottom: -50px;
    z-index: 1;
	text-align: left;
}


#aboutme h1 {
	color: #1A1A1A;
	font-family:'BebasNeueBold';
	font-size: 180px;
	line-height: 100%;
	padding-top:170px;
	padding-left:45px;
}

#aboutme h2 {
	color: #fff;
	font-family:'BebasNeueLight';
    font-size: 100px;
    line-height: 100%;
	padding-left:65px;
	margin-top:-140px;
}

#aboutme h3 {
    color: #fff;
	font-family:'BebasNeueBook';
    font-size: 130px;
    line-height: 100%;
	padding-left:80px;
	margin-top: -110px;
}

#aboutme  h4 {
    color: #fff;
	font-family:'BebasNeueRegular';
    font-size: 160px;
    line-height: 100%;
	padding-left:115px;
	margin-top: -167px;
}

#aboutme p {
	color: #fff;
	font-family:'BebasNeueRegular';
	font-size: 40px;
    line-height: 100%;
	padding-left:200px;
	margin-top: -180px;
	margin-right: 480px;
}




#part3 {
	background-image: url(../images/workexperience.jpg);
	height: 2000px;
	width: 100%;
	margin-top:-170px;
}

#workexperience  h1 {
	color:#4747FF;
	font-family:'BebasNeueBold';
	font-size: 225px;
	padding-top:120px;
}

#workexperience  h2 {
	color:#fff;
	font-family:'BebasNeueRegular';
	font-size: 40px;
	line-height:32px;
	text-align: right;
	margin-top: -135px;
	margin-right: 1050px;
}

#workexperience  h3 {
	color:#fff;
	font-family:'BebasNeueRegular';
	font-size: 40px;
	line-height:32px;
	text-align: left;
	margin-top: -135px;
	margin-left: 1070px;
}

.WorkLogo {
	padding:1px;
    border-radius: 100%;
    border:2px solid #FFF;
	width: 200px;
	height:200px;
	display:block;
	margin-left:860px;
	margin-top: -6px;

}


.WorkLogo.GuestLogix {
	background-image: url(../images/logo/guestlogix.jpg);
}

.WorkLogo.MainlyMac {
	margin-top:-5px;
	background-image: url(../images/logo/mainlymac.jpg);
}

.WorkLogo.ACT {
	background-image: url(../images/logo/ACT.jpg);
}
