@font-face {
  font-family: 'BebasNeueLight';
  src: url('BebasNeueLight.eot?#iefix') format('embedded-opentype'), 
	   url('BebasNeueLight.otf')  format('opentype'),
	   url('BebasNeueLight.woff') format('woff'),
	   url('BebasNeueLight.ttf')  format('truetype'),
	   url('BebasNeueLight.svg#BebasNeueLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBook';
  src: url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
	   url('BebasNeueBook.otf')  format('opentype'),
	   url('BebasNeueBook.woff') format('woff'),
	   url('BebasNeueBook.ttf')  format('truetype'),
	   url('BebasNeueBook.svg#BebasNeueBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'), 
	   url('BebasNeueRegular.otf')  format('opentype'),
	   url('BebasNeueRegular.woff') format('woff'),
	   url('BebasNeueRegular.ttf')  format('truetype'),
	   url('BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BebasNeueBold';
  src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
	   url('BebasNeueBold.otf')  format('opentype'),
	   url('BebasNeueBold.woff') format('woff'),
	   url('BebasNeueBold.ttf')  format('truetype'),
	   url('BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
    background-color: #363636;
    font-family: 'BebasNeueBook';
    font-size: 20px;
    text-align: center;
	margin:0px;
	padding:0px;
}

#Navigation {
	height: 50px;
	width:99vw;
	background-color: #050505;
	font-size: 32px;
	-webkit-transition: all 0.5s ease;
}

#Navigation  ul{
	padding:0px;
	margin:0px;
}

#Navigation  ul li{
	list-style: none;
	display:inline-block;
	padding-top:6px;
}

#Navigation  ul li a{
	color: white;
	text-decoration:none;
	padding:20px;

}

#Navigation  ul li a:hover{
	color: blue;


}

.Intro {
	height: 70vh;
	min-height: 800px;
	font-family: 'BebasNeueBook';
	text-align: center;
	color: white;
}


.Title {
    font-size: 77px;
	margin-top: 13vh;
	padding-left:220px;
    z-index:2;
}

.caption {
    font-size: 40px;
	color: white;
    z-index:2;
}

#Button {
	position: relative;
    border-radius: 5px;
	border:2px solid #FFF;
	text-align:center; 
	font-size:30px;
	color:white;
    width: 200px;
    height: 40px; 
	margin-left: 50%;
	right:250px;
	margin-top: 50px;
	background: rgba(34,34,34,0.75);
}


#Button a{
	color:white;
	text-decoration:none;

}


.Icon img{
    padding:1px;
    border-radius: 100%;
    border:2px solid #FFF;
    background-color:#FFF;
}

#particles-js {
	padding-top:50px;
	margin-top: -100vh;
	margin-bottom: -20vh;
}

#part2 {
	background-image: url(../images/aboutme.jpg);
	background-size: 100vw;
	height: 1080px;
	background-color:#050505;
	background-repeat:no-repeat;
}

#aboutme {
	position: relative;
	color : white;
	left: 0;
    bottom: -50px;
    z-index: 1;
	text-align: left;
}


#aboutme h1 {
	color: #1A1A1A;
	font-family:'BebasNeueBold';
	font-size: 180px;
	line-height: 100%;
	padding-top:170px;
	padding-left:45px;
}

#aboutme h2 {
	color: #fff;
	font-family:'BebasNeueLight';
    font-size: 100px;
    line-height: 100%;
	padding-left:65px;
	margin-top:-140px;
}

#aboutme h3 {
    color: #fff;
	font-family:'BebasNeueBook';
    font-size: 130px;
    line-height: 100%;
	padding-left:80px;
	margin-top: -110px;
}

#aboutme  h4 {
    color: #fff;
	font-family:'BebasNeueRegular';
    font-size: 160px;
    line-height: 100%;
	padding-left:115px;
	margin-top: -167px;
}

#aboutme p {
	color: #fff;
	font-family:'BebasNeueRegular';
	font-size: 32px;
    line-height: 100%;
	padding-left:125px;
	margin-top: -180px;
	margin-right: 25vw;
}

#part3 {
	text-align:center;
	background-image: url(../images/workexperience.jpg);
	background-size: 100vw;
	height: 1500px;
	margin-top:-170px;
	background-repeat:no-repeat;
	background-color: #5D85FF;
}

#workexperience  h1 {
	color:#4747FF;
	font-family:'BebasNeueBold';
	font-size: 225px;
	padding-top:120px;
}

#workexperience  h2 {
	color:#fff;
	font-family:'BebasNeueRegular';
	font-size: 40px;
	line-height:32px;
	text-align: right;
	margin-top: -135px;
	margin-right: 50%;
	padding-right:109px;
}

#workexperience  h3 {
	color:#fff;
	font-family:'BebasNeueRegular';
	font-size: 30px;
	line-height:25px;
	text-align: left;
	margin-top: -140px;
	margin-left: 50%;
	padding-left:109px;
	padding-right:15vw;
}

.WorkLogo img{
	margin-bottom: -7px;
    border-radius: 100%;
    border:3px solid #FFF;
    background-color:#FFF;
}

#part4 {
	background-image: url(../images/projects.jpg);
	background-size: 100vw;
	height: 100vh;
	background-repeat:no-repeat;
	background-color:white;
}

#Projects {
	text-align: left;
	margin-top:-170px;
	color:black;
}

#Projects  h1 {
	text-align: center;
	font-family:'BebasNeueBold';
	font-size: 225px;
	padding-top: 120px;
	margin-bottom:-20px;
}


#Projects  h2 {
	font-family:'BebasNeueBold';
	font-size: 45px;
	margin-left: 6vw;
	padding-left:250px;
	margin-top: -235px;
}

#Projects  h3 {
	font-family:'BebasNeueBook';
	font-size: 30px;
	margin-left: 6vw;
	padding-left:250px;
	margin-top: -30px;
	padding-right: 400px;
}


#Interview {
}

.ProjectPic img{
    border-radius: 100%;
}



#part5 {
	background-image: url(../images/Contact.jpg);
	background-size: 100% 100%;
	height:1080px;
	margin-top:-170px;
	background-repeat:no-repeat;
}

#contact {
	background: rgba(34,34,34,0.75);
	position:absolute;
	height: 20.37vh;
	position:relative;
	top:170px;
	margin-top:100px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	font-family:'BebasNeueBold';
	color:white;
	font-size: 18.52vh;	
}

#contact h2 {
	padding-top:50px;
	line-height:29px;
	font-family:'BebasNeueBook';
	font-size: 30px;	
}


#input {
position:relative;
margin-bottom:20px;
height: 60px;
width: 400px;
border-radius: 10px;
font-size: 32px;
padding: 0 1em;
border: solid 2px #e4e4e4;
font-family: BebasNeueRegular;
}

#output {
position:relative;
margin-bottom:20px;
height: 60px;
width: 300px;
border-radius: 10px;
font-size: 32px;
padding: 0 1em;
border: solid 2px #e4e4e4;
font-family: BebasNeueRegular;
}

#output:hover {
color: white;
background-color:black;
}

#nlinks img{
margin-top:390px;
display:inline;
border-radius:100%;
height: 50px;
width:50px;
}